body{background-image: url("img/tback.jpg");
    background-size: cover;
    }
    td{
        width:100px;
        height:100px;
    }
    table{
        margin:auto;
        padding-bottom: 75px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 60px;
        background-image:url("img/board1.png");
    }
    .column{
     border-left: 5px solid rgb(230, 227, 213);
     border-right: 5px solid rgb(230, 227, 213);
    }
    .row{
     border-top: 5px solid rgb(230, 227, 213);
     border-bottom: 5px solid rgb(230, 227, 213);
    }
    h1{
        text-align: center;
        font-size: 80px;
         font-family:'Berkshire Swash', cursive; 
    }