h1{
    font-family:'Berkshire Swash', cursive;
    text-align: center;
    font-size: 60px;
    color:white;
    }
    img{
        width:680px;
        height:400px;
        margin:30px;
        padding:2px;
        border:1px solid white;
    }
    body{
        background-image: url("img/earth.jpg");
        background-size: cover;
        background-attachment: fixed;
    }